body {
  /* background: url('../images/pigDiceBackground.jpg') top left repeat; */
  background-color: #acc6aa;
  height: 100%;
  text-align: center;
}

#roll, #endTurn, #playerDisplayerParent, #gameUI {
  display: none;
}

#img-max {
  max-width: 80%;
  border-radius: 6%;
  z-index: -1;
}

#namesBtn {
  margin-top: 15px;
}

.default-image {
  z-index: 1;
  display: none;
  width: 290px;
  height: 290px;;
  border-radius: 6%
}

h1 {
  font-family: 'Caveat Brush', cursive;
}

h2 {
  font-family: 'Comfortaa', cursive;
}

h3 {
  font-family: 'Scope One', serif;
}
